
/*Estilo Header*/
* {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
  }

  
  body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#363636;
}

/*Header ----------------------------------------------------------*/ 
header nav {
    background-color: #141D23;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
  }

  .nome-cinema{
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 9px;
    color: white;
  }

  .descricao-cinema{
    display: flex;
    font-family: sans-serif;
    font-size: 15px;
    color: white;

  }
  
  .input-search {
    background-color: #141D23;
    color: white;
    display: flex;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 15px;
    width: 150px;
    padding: 0;
    overflow: hidden;
    font-size: 18px;
    margin-right: 10px;
  }

  .input-search::placeholder {
    color: white;
  }



  @media(max-width:900px) {

    .imagem-inicial{
      text-align: center;
      }

      .text1{
    display: flex;
    margin-top: 30px;
    font-size: 12px;
    color: white;
  }
  
    .nav,
    .set-search {
      display: none;
    }
  
    .img-menor {
      display: none;
    }
  
    .img-maior {
      display: flex;
      margin-left: auto;
      margin-right: auto;
  
    }

     /*Menu Lateral */
    .container {
      max-width: 1050px;
      width: 90%;
      margin: auto;
    }
  
    .menu-search{
      background-color: #141D23 ;
      color: white;
      display: flex;
      border: 0;
      outline: 0;
      font-size: 12px;
      width: 120px;
  }
  
    .navbar {
      width: 100%;
    }
  
    .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
    }
  
    .navbar .menu-items {
      display: flex;
    }
  
    .navbar .nav-container li {
      list-style: none;
    }
  
    .navbar .nav-container input.menu-search {
      text-decoration: none;
      color: white;
      padding: 0.7rem;
      width: 50%;
    }
  
    .navbar .nav-container a {
      text-decoration: none;
      color: white;
      font-weight: 500;
      font-size: 1.1rem;
      padding: 0.7rem;
    }
  
    .navbar .nav-container a:hover {
      font-weight: bolder;
    }
  
    .nav-container {
      display: block;
      position: relative;
      height: 60px;
    }
  
    .nav-container .checkbox {
      position: absolute;
      display: block;
      height: 32px;
      width: 32px;
      top: 20px;
      left: 20px;
      z-index: 5;
      opacity: 0;
      cursor: pointer;
    }
  
    .nav-container .Cinema-lines {
      display: block;
      height: 26px;
      width: 32px;
      position: absolute;
      top: 17px;
      left: 20px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .nav-container .Cinema-lines .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: white;
    }
  
    .nav-container .Cinema-lines .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }
  
    .nav-container .Cinema-lines .line2 {
      transition: transform 0.2s ease-in-out;
    }
  
    .nav-container .Cinema-lines .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }
  
    .navbar .menu-items {
      padding-top: 100px;
      background-color: #202C33;
      height: 65vh;
      width: 50%;
      transform: translate(-150%);
      display: flex;
      flex-direction: column;
      margin-left: -35px;
      padding-left: 20px;
      transition: transform 0.5s ease-in-out;
      border-radius: 10px;
    }
  
    .navbar .menu-items li {
      margin-bottom: 1.2rem;
      font-size: 1.5rem;
      font-weight: 500;
    }
  
    .nav-container input[type="checkbox"]:checked~.menu-items {
      transform: translateX(0);
    }
  
    .nav-container input[type="checkbox"]:checked~.Cinema-lines .line1 {
      transform: rotate(45deg);
    }
  
    .nav-container input[type="checkbox"]:checked~.Cinema-lines .line2 {
      transform: scaleY(0);
    }
  
    .nav-container input[type="checkbox"]:checked~.Cinema-lines .line3 {
      transform: rotate(-45deg);
    }
  }

  
  @media(min-width: 901px) and (max-width: 1051px) {

    .imagem-inicial{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .text1{
        display: flex;
        margin-top: 30px;
        font-size: 12px;
        color: white;
      }
  
    .navbar {
        display: none;
      }
    
  
    .img-maior {
      display: none;
    }
  
    header nav {
      background-color: #141D23;
      height: 5rem;
      display: flex;
      justify-content: space-between;
  
    }
  
    header nav {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1em;
      position: relative;
      color: white;
      font-family: sans-serif;
      font-size: 12px;
    }
  
    header a {
      text-decoration: none;
      color: white;
    }
  
    header .set-logo {
      display: flex;
      margin-right: 30px;
    }
  
    header .set-search {
      display: flex;
      border: solid #141D23;
      margin-left: 30px;
    }
  
    header .input-search {
      background-color: #141D23;
      color: white;
      display: flex;
      border: 0;
      outline: 0;
      font-size: 12px;
      width: 120px;
    }
  
    header .input-search::placeholder {
      color: white;
    }
  }
  

  @media(min-width:1052px) and (max-width: 1500px) {

    .imagem-inicial{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .text1{
        display: flex;
        margin-top: 30px;
        font-size: 12px;
        color: white;
      }
  
    .navbar {
      display: none;
    }
  
    .img-maior {
      display: none;
    }
  
    header nav {
      background-color: #141D23;
      height: 5rem;
      display: flex;
      justify-content: space-between;
  
    }
  
    header nav {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1em;
      position: relative;
      color: white;
      font-family:sans-serif;
      font-size: 16px;
    }
  
    header a {
      text-decoration: none;
      color: white;
    }
  
    header .set-logo {
      display: flex;
      margin-right: 30px;
    }
  
    header .set-search {
      display: flex;
      border: solid #141D23;
      margin-right: 30px;
    }
  
    header .input-search {
      background-color: #141D23;
      color: white;
      display: flex;
      border: 0;
      outline: 0;
      font-size: 16px;
      width: 127px;
    }
  
    header .input-search::placeholder {
      color: white;
    }
  }
  

  @media(min-width: 1501px) and (max-width: 2045px) {

    .imagem-inicial{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .text1{
        display: flex;
        margin-top: 50px;
        font-size: 12px;
        color: white;
      }
  
    .navbar {
      display: none;
    }
  
    .img-maior {
      display: none;
    }
  
    header nav {
      background-color: #141D23;
      height: 5rem;
      display: flex;
      justify-content: space-between;
  
    }
  
    header nav {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1em;
      position: relative;
      color: white;
      font-family: sans-serif;
      font-size: 22px;
    }
  
    header a {
      text-decoration: none;
      color: white;
    }
  
    header .set-logo {
      display: flex;
      margin-right: 30px;
    }
  
    header .set-search {
      display: flex;
      border: solid #141D23;
      margin-right: 30px;
    }
  
    header .input-search {
      background-color: #141D23;
      color: white;
      display: flex;
      border: 0;
      outline: 0;
      font-size: 18px;
      width: 142px;
    }
  
    header .input-search::placeholder {
      color: white;
    }
  }

  @media(min-width: 2046px) {

    .imagem-inicial{
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .text1{
        display: flex;
        margin-top: 50px;
        font-size: 12px;
        color: white;
      }
  
    .navbar {
      display: none;
    }
  
    .img-maior {
      display: none;
    }
  
    header nav {
      background-color: #141D23;
      height: 5rem;
      display: flex;
      justify-content: space-between;
  
    }
  
    header nav {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1em;
      position: relative;
      color: white;
      font-family:sans-serif;
      font-size: 35px;
    }
  
    header a {
      text-decoration: none;
      color: white;
    }
  
    header .set-logo {
      display: flex;
      margin-right: 30px;
    }
  
    header .set-search {
      display: flex;
      border: solid #141D23;
      margin-right: 30px;
    }
  
    header .input-search {
      background-color: #141D23;
      color: white;
      display: flex;
      border: 0;
      outline: 0;
      font-size: 20px;
      width: 160px;
    }
  
    header .input-search::placeholder {
      color: white;
    }
  }
  

  @media (max-width: 1052px) {
    .caixa-transparente {
      width: 100%;
    }
  }



.secao {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #202C33;
  margin: 20px;
}

.elementos-secao {
  display: flex;
  flex-direction: row;
}

  Lançamento-------------------------------------------------------------------------------------------------------

  .caixa-transparente {
    border-radius: 10px;
    position: absolute;
    width: 100%;
    font-weight: 700;
    font-size: 50px;
    line-height: 24px;
    color: #FFFFFF;
  }

  .caixa-transparente p {
    background-color: #9acd32;
    padding-block: 2rem;
    margin-inline: 3%;
    margin-top: 20px;
    padding-top: 20px;
  }
  #titulo-secao{
    color: #FFFFFF;
    font-family:sans-serif;
    font-size: 50px;
    font-weight: 700;
  }
  .caixa-transparente{
    font-weight: 700;
    color: #FFFFFF;
    font-family:sans-serif;
    font-size: 50px;
    font-weight: 700;
  }
  

 #filmes-em-destaque{
  
  position: absolute;
  width: 90%;
  margin:20px;  
  

   font-weight: 700;
   background-color: #9ACD32;
    color: #FFFFFF;
    font-family:sans-serif;
    font-size: 50px;
    font-weight: 700;  
   
    
 }

  
  .destacar {
    color:yellowgreen;
    margin-left: 1rem;
  }

  #button-lancamento{
    background-color: #cdc5c5;
    height: 3rem;
    width: 10rem;
    margin-block: 10px;
    border-radius: 15px;
  }
  
  .lancamentos {
    background: #141D23;
    border-radius: 10px;
    color: rgb(248, 248, 248);
    height: 35rem;
    width: 65rem;
    
    
  }
  .container {
    display: flex;
    flex-basis: 100%;

    flex-wrap: nowrap; /* permite que as imagens sejam quebradas em várias linhas */
    justify-content: space-around; /* centraliza as imagens horizontalmente */
    max-width: 100% /* define uma largura máxima para o contêiner */
  }
  
  .container div {
    margin: 20px 20px 20px;
    max-width: 150px; /* garante que as imagens não ultrapassem a largura do contêiner */
    background-color: #ffffff;
    margin: 20px;

  }

  .container img{
    width: 100%;
  }
  
 
  @media (max-width: 74rem){
    #aside-oficial{
      flex-basis: 100%;
      width: 0px;

    }
    .group{
      display: flex;
      flex-wrap: wrap;
    }
    #area-secao{
    
      flex-basis: 100%;
      width: 100%;
      float: none;
  }
  }
  @media (max-width: 768px) {
    .container img {
      margin-right: 10px; /* reduz a margem à direita das imagens em telas menores */
      margin-bottom: 10px; /* reduz a margem inferior das imagens em telas menores */
      
    }
  }
  
 

  .container2 {
    display: flex;

    flex-wrap: nowrap; /* permite que as imagens sejam quebradas em várias linhas */
    justify-content: space-around; /* centraliza as imagens horizontalmente */
    max-width: 1000px; /*define uma largura máxima para o contêiner */
    margin: 100px 30px 30px;
  }
  

  
  .container img:last-child {
    margin-right: 0; /* remove a margem da última imagem */
  }
  


  .info-destaque{
    background-color: aquamarine;
    margin-right: 20px; /* adiciona uma margem à direita das imagens */
    margin-bottom: 20px; /* adiciona uma margem inferior às imagens */
    max-width: 100%; /* garante que as imagens não ultrapassem a largura do contêiner */
  }
  
    
  
   
  .lancamentos h1 {
    text-align:left;
    margin: 40px auto;
    margin-left: 5rem;
    font-weight: lighter;
    color:yellowgreen;
    font-size: 40px;
  }
  
  .lancamentos-wrapper {
    display:flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
  }
  
  @media (min-width: 768px) {
    .lancamentos-wrapper {
      display: flex;
      justify-content: center;
    }
  }
  
  .lancamentos-poster image{
    width: 100%;
    display: block;
    margin: auto;
    border: 0px;
    border-radius: 4px;
  }
  
  .lancamentos-descricao {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-self: center;
  }
  
  .lancamentos-descricao h2{
    font-weight: lighter;
    color: white;
    font-size: 25px;
  }
  
  .lancamentos-descricao p{
    font-family:sans-serif;
    text-align: justify;
    color: white;
    font-weight: lighter;
    font-size: 18px;
  }
  .lancamentos-descricao span{
    color:white;
  }
  
  .descricao-detalhes {
    width: 85%;
    display: flex;
    justify-content: space-between;
  }

  /*--------------------------------*/
.card-aside {
  display: flex;
  flex-direction: column;
  margin: 10px;
  position: relative;
  width: 100%;
  background: #9ACD32;
  border-radius: 10px;
  align-items: center;
  padding: 20px;
 }

 .card-aside p {
  font-size: 1.2rem;
  position: relative;
  height: 24px;
  top: 10px;
  font-style: normal;
  font-size: 2rem;
  line-height: 20px;
  color: #FFFFFF;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card-aside iframe {
  position: relative;
  width: 90%;
  border-radius: 20px;
  padding-top: 20px;
}

#aside-oficial {
  position: relative;
  border-width: 2px;
  width: 30%;
  background-color: #202C33;
  float: left;
  border-radius: 10px;
}

#area-secao{
    position: relative;
    border-width:2px;
    width: 70%;
    /* height: 100px; */
    left:0px;
    float: left;
}
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
  
     zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/*--------------------------------*/
  
  #botao{
    background-color: #cdc5c5;
    height: 3rem;
    width: 10rem;
    margin-block: 10px;
    border-radius: 15px;
    
  }


/* Destaques ---------------------------------------------------------------------------------------------------------- */
.destaques h2{
  font-size: 25px;
  font-weight: lighter;
  color: yellowgreen;
}

.info-destaque b{
  font-family: sans-serif;
  font-size: 14px;
  color: white;
}
.info-destaque span{
  font-size: 18px;
  font-weight: lighter;
  color: yellowgreen;
}
@media (max-width: 767px){
  section.destaques{
    width: 100%;
    height: 30%;
    display: flex;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    flex-direction: column;
  }

  section.destaques h2{
      display: flex;
      align-self: center;
      font-size: 30px;
  }

  section.destaques div.em-destaques{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin: auto;
  }

  section.destaques div.em-destaques div.image-destaque{
    margin-bottom: 5%;
  }

  section.destaques div.em-destaques div.image-destaque img{
    width: 250px;
    height: 380px;
  }

  section.destaques div.info-destaque{
      width: 85%;
      display: flex;
      flex-direction: column;
      font-size: small;
  }

}

@media (min-width: 768px) and (max-width: 1023px){
  section.destaques{
    width: 100%;
    height: 30%;
    display: flex;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    flex-direction: column;
  }

  section.destaques h2{
      display: flex;
      align-self: center;
      font-size: 30px;
  }

  section.destaques div.em-destaques{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin: auto;
  }

  section.destaque div.em-destaques div.image-destaque{
    margin-bottom: 5%;
  }

  section.destaque div.em-destaques div.image-destaque img{
    width: 350px;
    height: 250px;
  }

  section.destaques div.info-destaque{
      width: 85%;
      display: flex;
      flex-direction: column;
      font-size: small;
  }

}

@media (min-width: 1024px){
  section.destaques{
      width: 100%;
      height: 30%;
      display: flex;
      margin: auto;
      padding-top: 2%;
      padding-bottom: 2%;
      flex-direction: column;
  }

  section.destaques h2{
      margin-left: 14%;
      margin-bottom: 2%;
      font-size: 30px;
  }

  section.destaques div.em-destaques{
      display: flex;
      flex-direction: row;
      margin: auto;
      justify-content: space-evenly;
      width: 60rem;
  }

  section.destaques div.info-destaque{
      display: flex;
      flex-direction: column;
      
  }


}

/*Formulario---------------------------------------------------------------------------------------------------------------*/

@media (max-width: 767px){
  .section-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-top: 10px;
    background-color: #141D23;
    border-radius: 2rem
  }

  .section-form h1{
    display: flex;
    justify-content: center;
    color: yellowgreen;
    font-size: 21px;
    font-family: sans-serif;
    margin-top: 2rem;
  }
  
  .section-form form {
    display: block;
    margin: auto;
    height: 100%;
  }
  
  form label {
    display: block;
    padding:5px;
  }
  
  label{
    text-align:left;
    margin-left: 60px;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 16px;
    color: yellowgreen;
    display: inline-block;
    font-weight: lighter;
  }
  
  .input {
    display: inline-block;
    border: 0;
    outline: 0;
    margin: 0px;
    margin-right: 50px;
    background: transparent;
    font-family: sans-serif;
    font-size: 16px;
    color: white;
  }

  
  label span{
    margin-top: 0;
    margin-bottom: 0;
    font-family: sans-serif;
    font-size: 14px;
    color: yellowgreen;
  }
  .check{
    margin-left: 20px;
  }
  
  
  #elenco-textarea{
    width: 240px;
    height: 90px;
    resize: none;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-size: 16px;
    color: white;
  }
  
  #botao-input{
    display: block;
    margin: auto;
    width:150px;
    height:30px;
    
    border-radius: 25px ;
    font-size: 18px;
    font-weight:bold;
    margin-top: 10px;
    background: white;
    color: black;
    font-family: sans-serif;
  }
  
  #botao-input:hover{
    box-shadow: 2px 2px 10px black;
    cursor: pointer;
  
  }
  }
  @media (min-width: 768px) and (max-width: 1023px){
  .section-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-top: 10px;
    background-color: #141D23;
    border-radius: 2rem
  }

  .section-form h1{
    display: flex;
    justify-content: center;
    color: yellowgreen;
    font-size: 30px;
    font-family: sans-serif;
    margin-top: 2rem;
    margin-left: 2rem;
  }
  
  .section-form form {
    display: block;
    margin: auto;
    height: 100%;
  }
  
  form label {
    display: block;
    padding:5px;
  }
  
  label{
    text-align:left;
    margin-left: 60px;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 16px;
    color: yellowgreen;
    display: inline-block;
    font-weight: lighter;
  }
  
  .input {
    display: inline-block;
    border: 0;
    outline: 0;
    margin: 0px;
    margin-right: 50px;
    background: transparent;
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    font-weight: lighter;
  }
  
  
  label span{
    margin-top: 0;
    margin-bottom: 0;
    font-family: sans-serif;
    font-size: 14px;
    color: yellowgreen;
    font-weight: lighter;
  }
  .check{
    margin-left: 20px;
  }
  
  
  #elenco-textarea{
    width: 300px;
    height: 90px;
    resize: none;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-size: 16px;
    color: white;
  }
  
  #botao-input{
    display: block;
    margin: auto;
    width:150px;
    height:30px;
    
    border-radius: 25px ;
    font-size: 18px;
    font-weight:bold;
    margin-top: 10px;
    background: white;
    color: black;
    font-family: sans-serif;
  }
  
  #botao-input:hover{
    box-shadow: 2px 2px 10px black;
    cursor: pointer;
  
  }
  }

  @media (min-width: 1024px){
    
  .section-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30rem;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #141D23;
    border-radius: 2rem
    
  }

  .section-form h1{
    display: flex;
    justify-content: center;
    color: yellowgreen;
    font-size: 30px;
    font-family: sans-serif;
    margin-top: 2rem;
  }
  
  .section-form form {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
  }
  
  form label {
    display: block;
    padding:5px;
  }
  
  label{
  text-align:left;
  margin-left: 100px;
  margin-top: 13px;
  font-family: sans-serif;
  font-size: 16px;
  color: yellowgreen;
  display: inline-block;
  font-weight: lighter;
  }
  
  .input {
    display: inline-block;
    border: 0;
    outline: 0;
    margin: 0px;
    background: transparent;
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    font-weight: lighter;
  }
  
  
  label span{
    margin-top: 0;
    margin-bottom: 0;
    font-family: sans-serif;
    font-size: 14px;
    color: yellowgreen;
    font-weight: lighter;
  }
  .check{
    margin-left: 20px;
  }
  
  #elenco-textarea{
    width: 464px;
    height: 100px;
    resize: none;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
    display: block;
    margin-left: 100px;
    font-family: sans-serif;
    font-size: 16px;
    color: white;
  }
  
  #botao-input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:150px;
    height:30px;
    border-radius: 25px ;
    font-size: 18px;
    font-weight:bold;
    margin-top: 35px;
    background: white;
    color: black;
    font-family: sans-serif;
  }
  
  #botao-input:hover{
    box-shadow: 2px 2px 10px black;
    cursor: pointer;
  }
  
  }
  
/*Ultimas Avaliações*/
 
    .avaliacoes{
      background-color:#141D23;
      border-radius: 1rem;
    }
    .avaliacoes1 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin: 0 10px;
    }
    
    .avaliacoes h1 {
      font-size: 2rem;
      text-align: center;
      margin: 40px auto;
      font-size: 30px;
      color:yellowgreen;
    }
  
@media (min-width: 768px) and (max-width:1023px) {
  
  .avaliacoes{
    background-color:#141D23;
    border-radius: 1rem;
  }

  .avaliacoes1{
    flex-direction: row;
  }
}

.avaliacao {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.avaliacao h2 {
  margin-bottom: 10px;
  font-size: 25px;
  color: yellowgreen;
}

.avaliacao p{
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: justify;
}

.avaliacao span{
  font-size: 18px;
  font-weight: lighter;
  color: yellowgreen;
}

@media (min-width: 1024px){
  .avaliacoes{
    background-color:#141D23;
    border-radius: 1rem;
  }

  .avaliacoes1{
    flex-direction: row;
  }
}

.avaliacao {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.avaliacao h2 {
  margin-bottom: 10px;
  font-size: 25px;
  color: yellowgreen;
}

.avaliacao p{
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: justify;
}

.avaliacao span{
  font-size: 18px;
  font-weight: lighter;
  color: yellowgreen;
}



/*Novidades-----------------------------------------------------------------------------------------------------------------*/

@media (max-width: 767px){
  .section-novidades{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80rem;
  }
  
  .h2-novidades{
    margin-left: 15px;
    color: yellowgreen;
    font-size: 30px;
    font-weight:lighter ;
  }
  
  
  .section-novidades .div-novidades{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    width: 98%;
    height: 100%;
    margin-top: 15px;
  }
  
  .div-novidades .novidade{
    display: block;
    margin-top: 10px;
    margin-bottom: 130px;
    margin-left: 1px;
    width: 100% ;
    height: 7rem;
  }

  .novidade img{
    display: block;
    margin: auto;
  }

  .article-novidades{
    margin-top: auto;
    margin-left: 10px;
  }
  
  .article-novidades p{
     color: white;
     font-size: 12px;
     text-align: justify;
     font-weight: lighter;
     font-family:sans-serif;
  }
  
  .article-novidades h4{
    color: yellowgreen;
    font-size: 15px;
    text-align: justify;
    font-weight: lighter;
  }
   
  hr{
    margin-left: 10px;
  }
  
  .button-novidades{
    display: inline-block;
    border: 2xs solid black;
    width: 80px;
    height: 25px;
    border-radius: 20px;
    align-items: flex-end;
    margin-top: 5px;
  }
  
  .button-novidades1{
    display: inline-block;
    border: 2xs solid black;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    align-items: flex-end;
  }
  
  .button-novidades:hover{
    box-shadow: 2px 2px 10px black;
      cursor: pointer;
  }
  
  .button-novidades1:hover{
    box-shadow: 2px 2px 10px black;
      cursor: pointer;
  }
  
  
}
@media (min-width: 768px) and (max-width: 1023px){
  .section-novidades{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90rem;
    margin: auto;
  }
  
  .h2-novidades{
    margin-top: 15px;
    margin-left: 15px;
    color: yellowgreen;
    font-size: 30px;
    font-weight:lighter ;
  }
  
  
  .section-novidades .div-novidades{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    width: 98%;
    height: 100%;

  }
  
  .div-novidades .novidade{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    width: 100% ;
    height: 7rem;
  }
  
  .article-novidades{
    margin-left: 10px;
  }
  
  .article-novidades p{
     color: white;
     font-size: 15px;
     text-align: justify;
     font-weight: lighter;
     font-family: sans-serif;
  }
  
  .article-novidades h4{
    color: yellowgreen;
    font-size: 18px;
    text-align: justify;
    font-weight: lighter;
  }
  
  
  hr{
    margin-left: 10px;
  }
  
  .button-novidades{
    display: inline-block;
    border: 2xs solid black;
    width: 80px;
    height: 25px;
    border-radius: 20px;
    align-items: flex-end;
    margin-top: 5px;
  }
  
  .button-novidades1{
    display: inline-block;
    border: 2xs solid black;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    align-items: flex-end;
  }
  
  .button-novidades:hover{
    box-shadow: 2px 2px 10px black;
      cursor: pointer;
  }
  
  .button-novidades1:hover{
    box-shadow: 2px 2px 10px black;
      cursor: pointer;
  }
  
  
}
@media (min-width: 1024px){
  .section-novidades{
    display: flex;
    /*width: 70rem;*/
    height: 40rem;
    margin: auto;
  }
  
  .h2-novidades{
    margin-top: 15px;
    margin-left: 15px;
    color: yellowgreen;
    font-size: 30px;
    font-weight:lighter ;
  }
  
  
  .section-novidades .div-novidades{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
    height: 100%;
    margin-top: 15px;
  }
  
  .div-novidades .novidade{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    width: 100% ;
    height: 7rem;
  }
  
  .article-novidades{
    margin-left: 10px;
  }
  
  .article-novidades p{
     color: white;
     font-size: 15px;
     text-align: justify;
     font-weight: lighter;
     font-family: sans-serif;
  }
  
  .article-novidades h4{
    color:  yellowgreen;
    font-size: 18px;
    text-align: justify;
    font-weight: lighter;
  }
  
  hr{
    margin-left: 10px;
  }
  
  .button-novidades{
    display: inline-block;
    border: 2xs solid black;
    width: 80px;
    height: 25px;
    border-radius: 20px;
    align-items: flex-end;
    margin-top: 5px;
  }
  
  .button-novidades1{
    display: inline-block;
    border: 2xs solid black;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    align-items: flex-end;
  }
  
  .button-novidades:hover{
    box-shadow: 2px 2px 10px black;
      cursor: pointer;
  }
  
  .button-novidades1:hover{
    box-shadow: 2px 2px 10px black;
      cursor: pointer;
  }
 
}

/*Sobre/Editorial-------------------------------------------------------------------------------------------------------------*/

@media(max-width: 767px){
  aside.sobre{
    width: 90%;
    height: 30rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 2%;
    background: #141D23;
    border-radius: 1rem;

}

aside.sobre p{
  margin-bottom: 2%;
  font-size: 80%;
  text-align: justify;
  font-family: sans-serif;
  color: white;
}

aside.sobre div.aside-sobre{
  margin-bottom: 3%;
}

aside.sobre div.aside-redes{
  width: 40%;
}

.aside-sobre h3{
  color: yellowgreen;
  font-size: 20px;
  font-weight: lighter;
}

.div-editorial h3{
  color: yellowgreen;
  font-size: 20px;
  font-weight: lighter;
}

.div-editorial p {
  color: white;
  font-size: small;
  font-weight: lighter;
  font-family:sans-serif;
}

.div-editorial span{
  color: yellowgreen;
  font-weight: lighter;
}

h4{
  color: yellowgreen;
  font-weight: lighter;
  font-size: 20px;
}

div.aside-sobre div.div-editorial img.icone{
  width: 2.5%;
  margin-right: 2%;
}

}

  
@media (min-width: 768px) and (max-width: 1023px){

  aside.sobre{
      width: 90%;
      height: 30rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      padding: 2%;
      background: #141D23;
      border-radius: 1rem;
  }

  aside.sobre p{
    margin-bottom: 2%;
    font-size: 15px;
    text-align: justify;
    font-family: sans-serif;
    color: white;
  }

  aside.sobre div.aside-sobre{
    margin-bottom: 3%;
  }

  aside.sobre div.aside-redes{
    width: 40%;
  }

  .aside-sobre h3{
    color: yellowgreen;
    font-size: 30px;
    font-weight: lighter;
  }

  .div-editorial h3{
    color: yellowgreen;
    font-size: 30px;
    font-weight: lighter;
  }

  .div-editorial p {
    color: white;
    font-size: 10px;
    font-weight: lighter;
    font-family: sans-serif;
  }

  .div-editorial span{
    color: yellowgreen;
    font-weight: lighter;
  }

  h4{
    color: yellowgreen;
    font-weight: lighter;
    font-size: 30px;
  }

  div.aside-sobre div.div-editorial img.icone{
    width: 2.5%;
    margin-right: 2%;
  }

}

@media (min-width: 1024px){

  aside.sobre{
      width: 45%;
      height: 30rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      padding: 1%;
      background: #141D23;
      border-radius: 1rem;
      margin-left: 2rem;
  }

  aside.sobre p{
    margin-bottom: 2%;
    font-size: 15px;
    text-align: justify;
    font-family: sans-serif;
    color: white;
  }

  aside.sobre div.aside-sobre{
    margin-bottom: 3%;
  }

  aside.sobre div.aside-redes{
    width: 40%;
  }

  .aside-sobre h3{
    color: yellowgreen;
    font-size: 30px;
    font-weight: lighter;
  }

  .div-editorial h3{
    color: yellowgreen;
    font-size: 30px;
    font-weight: lighter;
  }

  .div-editorial p {
    color: white;
    font-size: 10px;
    font-weight: lighter;
    font-family: sans-serif;
  }

  .div-editorial span{
    color:yellowgreen;
    font-weight: lighter;
  }

  h4{
    color: yellowgreen;
    font-weight: lighter;
    font-size: 30px;
  }

  div.aside-sobre div.div-editorial img.icone{
    width: 2%;
    margin-right: 2%;
  }

}


/* Propagandas------------------------------------------------------------------------------------------------------- */
@media (max-width: 767px){
  section.propagandas{
    width: 90%;
    height: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    
  }

  section.propagandas aside.prop-laterais img.anuncio-retrato{
      display: none;
  }

  section.propagandas aside.prop-laterais{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  section.propagandas div.filmes-oscar{
      display: flex;
      flex-direction: column;
      align-items: center;
      color: yellowgreen;
      margin: 2%;
  }

  div.filmes-oscar article.filmes-oscar{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  
  }

  section.propagandas article.top3-filmes {
      display: flex;
      width: 95%;
      height: 20%;
      margin: auto;
      border: 1px #1A8CD8  solid;
      border-radius: 10px;
      flex-direction: column;
      padding: 2%;
      margin-bottom: 1%;
      font-size: 80%;
      color: white;
      font-weight: lighter;
      font-family: sans-serif;
  }

  section.propagandas article.top3-filmes span{
    display: inline-flex;
    font-weight: lighter;
      color: yellowgreen;
    font-size: 23px;
  }

  article.top3-filmes{
    width: 5%;
  }
}

@media (min-width: 768px) and (max-width: 1023px){
  section.propagandas{
    width: 90%;
    height: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    
  }

  section.propagandas aside.prop-laterais img.anuncio-retrato{
      display: none;
  }

  section.propagandas aside.prop-laterais{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  section.propagandas div.filmes-oscar{
      display: flex;
      flex-direction: column;
      align-items: center;
      color: yellowgreen;
      margin: 2%;
  }

  div.filmes-oscar article.filmes-oscar{
    display: flex;
    flex-direction: column;
  }

  section.propagandas article.top3-filmes {
      display: flex;
      width: 95%;
      height: 20%;
      margin: auto;
      border: 1px #1A8CD8  solid;
      border-radius: 10px;
      flex-direction: column;
      padding: 2%;
      margin-bottom: 1%;
      font-size: 60%;
      color: white;
      font-weight: lighter;
      font-family:sans-serif;
  }

  section.propagandas article.top3-filmes span{
    display: inline-flex;
    font-weight: lighter;
    color: yellowgreen;
    font-size: 23px;
  }

  article.top3-filmes{
    width: 5%;
  }
}


@media (min-width: 1024px){
  section.propagandas{
    width: 90%;
    height: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }

  section.propagandas aside.prop-laterais img.anuncio-retrato{
      width: 290px;
      height: 400px;

  }

  section.propagandas aside.prop-laterais img.anuncio-paisagem{
    display: none;
  }

  section.propagandas div.filmes-oscar{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2%;
      color: yellowgreen;
  }

  div.filmes-oscar article.filmes-oscar{
    display: flex;
    flex-direction: column;
    
  }

  section.propagandas article.top3-filmes {
      display: flex;
      width: 95%;
      margin: auto;
      border: 1px #1A8CD8  solid;
      border-radius: 10px;
      flex-direction: column;
      padding: 2%;
      margin-bottom: 1%;
      color: white;
      font-weight: lighter;
      font-family: sans-serif;
  }

  section.propagandas article.top3-filmes span{
    display: inline-flex;
    font-weight: lighter;
    color: yellowgreen;
    font-size: 23px;
  }

  article.top3-filmes{
    width: 5%;
  }
}

section {
  margin: 20px 0;
}


  /* Footer-------------------------------------------------------------------------------------------------------------------- */

@media(max-width: 767px){
    footer{
      background-color:#141D23;
       height: 4rem;
       display: flex;
       justify-content: space-between;
       
   }
   
   .rodape{
       display: flex;
       align-items: center;
       margin-left: 25px;
       color:white;
       font-weight: lighter;
       font-size: 20px;
   }
   
   .logo-rodape {
     display: flex;
     margin-right: 25px;
   }
  }
  @media(min-width: 768px) and (max-width: 1023px){
    footer{
      background-color:#141D23;
       height: 4rem;
       display: flex;
       justify-content: space-between;
       
   }
   
   .rodape{
       display: flex;
       align-items: center;
       margin-left: 25px;
       color: white;
       font-weight: lighter;
       font-size: 30px;
   }
   
   .logo-rodape {
     display: flex;
     margin-right: 25px;
   }
  }
  @media(min-width:1024px){
    footer{
      background-color:#141D23;
       height: 5rem;
       display: flex;
       justify-content: space-between;
       
   }
   
   .rodape{
       display: flex;
       align-items: center;
       margin-left: 50px;
       color:white;
       font-weight: lighter;
       font-size: 30px;
   }
   
   .logo-rodape {
     display: flex;
     margin-right: 50px;
   }
  }
